<div class="row mb-3 mt-3"><div class="col-md-12">
  <div class="card-deck">
    <div class="card bg-success text-white">
      <div class="card-header"><i class="fa fa-calendar"></i> <small>Timesheet</small> this Week</div>
      <div class="card-body">
        <p class="card-text">
          Total Hours: 0 hours<br/>
          Status: PENDING
        </p>
      </div>
    </div>

    <div class="card bg-info text-white">
      <div class="card-header"><i class="fa fa-bookmark"></i> Meeting Invitation</div>
      <div class="card-body">
        <p class="card-text">Next Meeting: Jan 14 2017.
          <br/>Participants: 3</p>
      </div>
    </div>

    <div class="card bg-warning text-white">
      <div class="card-header"><i class="fa fa-ticket"></i> Leave Requests</div>
      <div class="card-body">
        <p class="card-text">Remaining Requests: <strong>3 / 12 this year</strong></p>
      </div>
    </div>
  </div>
</div></div>

<ngb-tabset  type="pills" [justify]="'fill'">
  <ngb-tab>
    <ng-template ngbTabTitle><i class="fa fa-calendar"></i> Timesheet</ng-template>
    <ng-template ngbTabContent>

      <div class="row mb-3 mt-3"><div class="col-md-12">
        <div class="card">
          <div class="card-header"><i class="fa fa-calendar"></i> Timesheet {{ viewDate | calendarDate:'weekViewTitle':locale }}</div>
          <div class="card-body">
            <jhi-calendar-header [view]="'week'" [(viewDate)]="viewDate"></jhi-calendar-header>
            <mwl-calendar-week-view
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (dayHeaderClicked)="handleEvent('Create', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
          </div>
          <div class="card-footer bg-white">
            <button type="button" (click)="newTimesheet()" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</button>
            <button type="button" (click)="submitTimesheet()" class="btn btn-success pull-right"><i class="fa fa-send"></i> Submit</button>
          </div>
        </div>
      </div></div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><i class="fa fa-plane"></i> New Leave Request</ng-template>
    <ng-template ngbTabContent>

      <div class="row mb-3 mt-3"><div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <button type="button" (click)="newLeaveRequest()" class="btn btn-primary pull-right"><i class="fa fa-plane"></i> New Leave Request</button>
            <i class="fa fa-plane"></i> Leave Requests {{ viewDate | calendarDate:'monthViewTitle':locale }}
          </div>
          <div class="card-body">
            <mwl-calendar-month-view
              [viewDate]="viewDate"
              [events]="leaveRequestEvents"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (dayClicked)="leaveRequestDayClicked($event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
          </div>
          <div class="card-footer bg-white">

          </div>
        </div>
      </div></div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><i class="fa fa-bookmark"></i> Meeting</ng-template>
    <ng-template ngbTabContent>

      <div class="row mb-3 mt-3"><div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <button type="button" (click)="newLeaveRequest()" class="btn btn-primary pull-right"><i class="fa fa-bookmark-o"></i> New Meeting</button>
            <i class="fa fa-bookmark"></i> Meeting {{ viewDate | calendarDate:'dayViewTitle':locale }}
          </div>
          <div class="card-body">
            <mwl-calendar-day-view
              [viewDate]="viewDate"
              [events]="meetingEvents"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (dayClicked)="dayClicked($event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
          </div>
          <div class="card-footer">

          </div>
        </div>
      </div></div>
    </ng-template>
  </ng-tab>
</ng-tabset>
