<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTimesheetLabel" jhiTranslate="timesheetApp.timesheet.home.createOrEditLabel">Create or edit a Timesheet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!timesheet.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="timesheet.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.approvedAt" for="field_approvedAt">Approved At</label>
            <div class="d-flex">
                <input id="field_approvedAt" type="datetime-local" class="form-control" name="approvedAt" [(ngModel)]="timesheet.approvedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.approvalNote" for="field_approvalNote">Approval Note</label>
            <textarea class="form-control" name="approvalNote" id="field_approvalNote"
                [(ngModel)]="timesheet.approvalNote" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                [(ngModel)]="timesheet.year" max="9999"/>
            <div [hidden]="!(editForm.controls.year?.dirty && editForm.controls.year?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.year?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 9999 }">
                    This field cannot be more than 9999.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.year?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.week" for="field_week">Week</label>
            <input type="number" class="form-control" name="week" id="field_week"
                [(ngModel)]="timesheet.week" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.state" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="timesheet.state" id="field_state" >
                <option value="REJECTED">{{'timesheetApp.ReviewState.REJECTED' | translate}}</option>
                <option value="PENDING">{{'timesheetApp.ReviewState.PENDING' | translate}}</option>
                <option value="APPROVED">{{'timesheetApp.ReviewState.APPROVED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.comment" for="field_comment">Comment</label>
            <textarea class="form-control" name="comment" id="field_comment"
                [(ngModel)]="timesheet.comment" ></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="timesheet.owner" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === timesheet.owner?.id ? timesheet.owner : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.timesheet.approvedBy" for="field_approvedBy">Approved By</label>
            <select class="form-control" id="field_approvedBy" name="approvedBy" [(ngModel)]="timesheet.approvedBy" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === timesheet.approvedBy?.id ? timesheet.approvedBy : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
