
<div *ngIf="jobCode">
    <h2><span jhiTranslate="timesheetApp.jobCode.detail.title">Job Code</span> {{jobCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.jobCode.name">Name</span></dt>
        <dd>
            <span>{{jobCode.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.jobCode.description">Description</span></dt>
        <dd>
            <span>{{jobCode.description}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.jobCode.users">Users</span></dt>
        <dd>
            <span *ngFor="let users of jobCode.users; let last = last">
                {{users.id}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-code/'+ jobCode.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
